/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.idea/
.idea/workspace.xml
config/iosCertificates/pushcert.pem
config/pushnotification.php
composer.lock

.DS_Store
public/css
public/js
public/mix-manifest.json
package.json


*.css
*.js


.idea/workspace.xml
.idea/*
/resources/lang/
