$link: #046cbe;
$navbar-link: #046cbe;
$navbar-item-color: #046cbe;
$navbar-item-font-weigth: 600;

.title {
  font-family: $family-header;
}

.navbar-item {
  font-weight: $navbar-item-font-weigth;
}

.contrastbackground {
  background-color: #e9e7e3;
}

h1 {
  font-family: $family-header;
}

.button.is-danger:hover {
  color: #000000 !important;
}

.upload .upload-draggable:hover.is-primary {
  border-color: $primary !important;
}

.has-background-dark {
  background-color: #e9e7e3 !important;
}
